<body>
    <main id="Start">
        <div class="DivMyImage">
            <img src="../assets/img/me.png" alt="Imagem de Rômulo de Oliveira" class="MyImage">
        </div>

        <div class="div-presentation">
            <h1 class="Presentation">
                Console.WriteLine("Bem vindo!")
            </h1>
        </div>

        <div class="simple-text">
            <p class="">
                Olá! Meu nome é <b>Rômulo de Oliveira</b> e sou um analista de sistemas de Fortaleza-CE.
            </p>
        </div>

        <div class="simple-text">
            <p>
                Estudo programação há cerca de 3 anos. Nessa caminhada como desenvolvedor foquei meus estudos em Java e C#. Recentemente tenho trabalhado com C# e Angular para desenvolver aplicações web.
            </p>
        </div>

        <div class="simple-text">
            <p>
            Você pode entrar em contato comigo pelo
            <a href="https://www.linkedin.com/in/romulodeoliveira/"><i class='bx bxl-linkedin-square' ></i> LinkedIn</a>
            ou por <a href="mailto: devromulodeoliveira@gmail.com" target="_blank"><i class='bx bxs-envelope' ></i> E-mail</a>.
            </p>
        </div>
    </main>

    <!-- PROJETOS -->
    <section id="Projects" class="Projects">
      <div class="ProjectsHeader">
          <h2 id="projects-title" class="ProjectsTitle"><i class='bx bxl-visual-studio'></i> Projetos</h2>

          <a href="https://github.com/romulodeoliveira?tab=repositories" target="_blank">
            <i class='bx bxl-github'></i>
            Ver Todos
          </a>
      </div>

      <div id="project-content">
        <!-- Store -->
        <div class="IndividualProject">
            <div class="IndividualProjectHeader">
                <h3 class="IndividualProjectTitle">
                  <i class='bx bxs-right-arrow-alt'></i> Store
                </h3>

                <p class="IndividualProjectYear">
                    2024
                </p>
            </div>

            <div class="IndividualProjectDescription_">
                <p class="IndividualProjectDescription">
                  Criei este projeto com o objetivo de treinar e demonstar conceitos avançados sobre
                  desenvolvimento web com C#, como: técnica de escrita de testes: Red, Green, Refactor;
                  design by contracts (DbC); conceitos de orientação a objetos (OOP); modelagem do domínio da
                  aplicação; criação e teste de validações de entidades do domínio; queries e testes de
                  unidade - CQRS; commands e testes de unidade; handlers e testes de unidade; repository pattern;
                  mockagem de repositórios para testes.
                </p>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://github.com/romulodeoliveira/Store" class="IndividualProjectSourceCode" target="_blank">
                  <i class='bx bxl-github'></i>
                  Source Code
                </a>
            </div>
        </div>

        <!-- Weather App -->
        <div class="IndividualProject">
            <div class="IndividualProjectHeader">
                <h3 class="IndividualProjectTitle">
                  <i class='bx bxs-right-arrow-alt'></i> Weather App
                </h3>

                <p class="IndividualProjectYear">
                    2024
                </p>
            </div>

            <div class="IndividualProjectDescription_">
                <p class="IndividualProjectDescription">
                  Este projeto consiste em uma aplicação web front-end construída com Angular 15 e Node.js 18. Ele demonstra minha expertise na criação de interfaces de usuário intuitivas e responsivas, utilizando componentes, rotas, services, observables para gerenciamento de dados, formulários reativos e template-driven com validações, manipulação de imagens e a arquitetura Smart e Dumb Components para organizar o código e facilitar a manutenção.
                </p>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://github.com/romulodeoliveira/WeatherApp" class="IndividualProjectSourceCode" target="_blank">
                  <i class='bx bxl-github'></i>
                  Source Code
                </a>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://romulodeoliveira.github.io/WeatherApp/weather" target="_blank" class="IndividualProjectSourceCode">
                  <i class='bx bx-link'></i>
                  Link to View
                </a>
            </div>
        </div>

        <!-- MUNDO TROLLER -->
        <div class="IndividualProject">
            <div class="IndividualProjectHeader">
                <h3 class="IndividualProjectTitle">
                  <i class='bx bxs-right-arrow-alt'></i> Mundo Troller
                </h3>

                <p class="IndividualProjectYear">
                    2024
                </p>
            </div>

            <div class="IndividualProjectDescription_">
                <p class="IndividualProjectDescription">
                  Site para listagem de produtos de uma empresa de peças para Troller localizada em Fortaleza. Neste projeto pude trabalhar com HTML, CSS e JavaScript.
                </p>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://www.mundotroller.com.br/" target="_blank" class="IndividualProjectSourceCode">
                  <i class='bx bx-link'></i>
                  Link to View
                </a>
            </div>
        </div>
      </div>
    </section>

    <!-- VOLUNTARIADO -->
    <section id="voluntariado" class="Projects">
      <div class="ProjectsHeader">
        <h2 id="voluntariado-title"><i class='bx bxs-briefcase-alt-2'></i> Voluntariado</h2>
      </div>

      <div id="voluntariado-content">
        <div class="IndividualProject">
          <div class="IndividualProjectHeader">
              <h3 class="IndividualProjectTitle">
                <i class='bx bxs-right-arrow-alt'></i> GNOME Foundation
              </h3>

              <p class="IndividualProjectYear">
                  Desde out. 2024
              </p>
          </div>

          <div class="IndividualProjectDescription_">
              <p class="IndividualProjectDescription">
                Tradutor para o português brasileiro da fundação Gnome.
              </p>
          </div>
        </div>
      </div>
    </section>

    <!-- FORMAÇÃO ACADEMICA -->
    <section id="formacao-academica" class="Projects">
      <div class="ProjectsHeader">
        <h2 id="formacao-title"><i class='bx bxs-book'></i> Formação Academica</h2>
      </div>

      <div id="formacao-content">
        <div class="IndividualProject">
          <div class="IndividualProjectHeader">
              <h3 class="IndividualProjectTitle">
                <i class='bx bxs-right-arrow-alt'></i> Análise e Desenvolvimento de Sistemas
              </h3>

              <p class="IndividualProjectYear">
                  2021 / 2024
              </p>
          </div>

          <div class="IndividualProjectDescription_">
              <p class="IndividualProjectDescription">
                Formação de nível superior no Centro Universitário Leonardo da Vinci (UNIASSELVI).
              </p>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="Footer">
        <div class="DivFooter">
          <div>
            <p>2023 - Rômulo de Oliveira</p>
          </div>

          <div>
              <a href="#Start">Início</a>
              <span> / </span>
              <a href="#Projects">Projetos</a>
              <span> / </span>
              <a href="#Contacts">Contatos</a>
              <span> / </span>
              <a href="#voluntariado">Voluntariado</a>
              <span> / </span>
              <a href="#formacao-academica">Formação Academica</a>
          </div>
        </div>
    </footer>
</body>
