<body>
    <main id="Start">
        <div class="DivMyImage">
            <img src="../assets/img/me.png" alt="Imagem de Rômulo de Oliveira" class="MyImage">
        </div>

        <div class="DivPresentation">
            <h1 class="Presentation">
              Console.WriteLine("Bem vindo!")
            </h1>
        </div>

        <div class="AboutMe">
          <p class="">
              Olá! Meu nome é <b>Rômulo de Oliveira</b>. Sou um analista de sistemas e sou de Fortaleza-CE.
          </p>
      </div>

        <div class="AboutMe">
            <p>
                Estudo programação há cerca de 3 anos. Nessa caminhada como desenvolvedor foquei meus estudos em Java e C#. Recentemente tenho trabalhado com C# e Angular para desenvolver aplicações web.
            </p>
        </div>

        <div class="AboutMe">
          <p>
            Você pode entrar em contato comigo pelo <a href="https://www.linkedin.com/in/romulodeoliveira/"><span><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><image href="../assets/img/icons/linkedin.svg" width="16" height="16" /></svg>LinkedIn</span></a> ou por <a href="mailto: devromulodeoliveira@gmail.com" target="_blank"><span><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><image href="../assets/img/icons/envelope-at-fill.svg" width="16" height="16" /></svg>Email</span></a>.
          </p>
      </div>
    </main>

    <section id="Projects" class="Projects">
        <div class="ProjectsHeader">
            <h2 class="ProjectsTitle">Projetos</h2>

            <a href="https://github.com/romulodeoliveira?tab=repositories" target="_blank">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <image href="../assets/img/icons/github.svg" width="16" height="16" />
                </svg>
                Ver Todos
            </a>
        </div>

        <!-- Store -->
        <div class="IndividualProject">
            <div class="IndividualProjectHeader">
                <h3 class="IndividualProjectTitle">
                  Store
                </h3>

                <p class="IndividualProjectYear">
                    2024
                </p>
            </div>

            <div class="IndividualProjectDescription_">
                <p class="IndividualProjectDescription">
                  Criei este projeto com o objetivo de treinar e demonstar conceitos avançados sobre desenvolvimento web com C#, como: técnica de escrita de testes: Red, Green, Refactor; design by contracts (DbC); conceitos de orientação a objetos (OOP); modelagem do domínio da aplicação; criação e teste de validações de entidades do domínio; queries e testes de unidade - CQRS; commands e testes de unidade; handlers e testes de unidade; repository pattern; mockagem de repositórios para testes.
                </p>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://github.com/romulodeoliveira/Store" class="IndividualProjectSourceCode" target="_blank">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <image href="../assets/img/icons/github.svg" width="16" height="16" />
                    </svg>
                    Source Code
                </a>
            </div>
        </div>

        <!-- Weather App -->
        <div class="IndividualProject">
            <div class="IndividualProjectHeader">
                <h3 class="IndividualProjectTitle">
                  Weather App
                </h3>

                <p class="IndividualProjectYear">
                    2024
                </p>
            </div>

            <div class="IndividualProjectDescription_">
                <p class="IndividualProjectDescription">
                  Este projeto consiste em uma aplicação web front-end construída com Angular 15 e Node.js 18. Ele demonstra minha expertise na criação de interfaces de usuário intuitivas e responsivas, utilizando componentes, rotas, services, observables para gerenciamento de dados, formulários reativos e template-driven com validações, manipulação de imagens e a arquitetura Smart e Dumb Components para organizar o código e facilitar a manutenção.
                </p>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://github.com/romulodeoliveira/WeatherApp" class="IndividualProjectSourceCode" target="_blank">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <image href="../assets/img/icons/github.svg" width="16" height="16" />
                    </svg>
                    Source Code
                </a>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://romulodeoliveira.github.io/WeatherApp/weather" target="_blank" class="IndividualProjectSourceCode">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <image href="../assets/img/icons/clipboard-data-fill.svg" width="16" height="16" />
                    </svg>
                    Link to View
                </a>
            </div>
        </div>

        <!-- MUNDO TROLLER -->
        <div class="IndividualProject">
            <div class="IndividualProjectHeader">
                <h3 class="IndividualProjectTitle">
                    Mundo Troller
                </h3>

                <p class="IndividualProjectYear">
                    2024
                </p>
            </div>

            <div class="IndividualProjectDescription_">
                <p class="IndividualProjectDescription">
                  Site para listagem de produtos de uma empresa de peças para Troller localizada em Fortaleza. Neste projeto pude trabalhar com HTML, CSS e JavaScript.
                </p>
            </div>

            <div class="IndividualProjectSourceCode_">
                <a href="https://www.mundotroller.com.br/" target="_blank" class="IndividualProjectSourceCode">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <image href="../assets/img/icons/clipboard-data-fill.svg" width="16" height="16" />
                    </svg>
                    Link to View
                </a>
            </div>
        </div>

    </section>

    <!-- VOLUNTARIADO -->
    <section id="voluntariado" class="Projects">
      <div class="ProjectsHeader">
        <h2>Voluntariado</h2>
      </div>

      <div class="IndividualProject">
        <div class="IndividualProjectHeader">
            <h3 class="IndividualProjectTitle">
              GNOME Foundation
            </h3>

            <p class="IndividualProjectYear">
                Desde out. 2024
            </p>
        </div>

        <div class="IndividualProjectDescription_">
            <p class="IndividualProjectDescription">
              Tradutor para o português brasileiro da fundação Gnome.
            </p>
        </div>
      </div>
    </section>

    <!-- FORMAÇÃO ACADEMICA -->
    <section id="formacao-academica" class="Projects">
      <div class="ProjectsHeader">
        <h2>Formação Academica</h2>
      </div>

      <div class="IndividualProject">
        <div class="IndividualProjectHeader">
            <h3 class="IndividualProjectTitle">
              Análise e Desenvolvimento de Sistemas
            </h3>

            <p class="IndividualProjectYear">
                2021 / 2024
            </p>
        </div>

        <div class="IndividualProjectDescription_">
            <p class="IndividualProjectDescription">
              Formação de nível superior no Centro Universitário Leonardo da Vinci (UNIASSELVI).
            </p>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="Footer">
        <div class="DivFooter">
          <div>
            <p>2023 - Rômulo de Oliveira</p>
          </div>

          <div>
              <a href="#Start">Início</a>
              <span>/</span>
              <a href="#Projects">Projetos</a>
              <span>/</span>
              <a href="#Contacts">Contatos</a>
              <span>/</span>
              <a href="#voluntariado">Voluntariado</a>
              <span>/</span>
              <a href="#formacao-academica">Formação Academica</a>
          </div>
        </div>
    </footer>
</body>
